* {
    box-sizing: border-box;
}

.header {
    background-color: #000;
    position: sticky;
    top: 0;
    display: flex;
    height: 60px;
    border-bottom: 1px solid #333333;
    align-items: center;
    justify-content: space-between;
    box-shadow: 5px 0 10px rgba(118, 57, 57, 0.382);
    z-index: 1000;

    &__logo {
        width: 100px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__fabar {
        color: #ddd;
        width: 45px;
        margin-left: 20px;
        margin-right: 10px;
        font-size: 40px;
    }

    &__image {
        margin-left: 40px;
        width: 45px;
        height: 100%;
    }

    &__menu {
        height: 100%;
        margin-right: 50px;

        ul {
            display: flex;
            list-style: none;
            height: 100%;
            margin: 0;

            li {
                height: 100%;

                .menu__page {
                    width: 120px;
                    height: 100%;
                    color: #ddd;
                    text-shadow: 
                        -1px -1px 0 black, 
                        1px -1px 0 black, 
                        -1px 1px 0 black,
                        1px 1px 0 black;
                    font-weight: 700;
                    text-decoration: none;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    white-space: nowrap;
                }

                .active {
                    color: black;
                    text-shadow: 
                        -1px -1px 0 white, 
                        1px -1px 0 white, 
                        -1px 1px 0 white,
                        1px 1px 0 white;
                }
            }
        }
    }
}

.hamburger-btn {
  display: none; /* ẩn trên desktop */
  background: none;
  border: none;
  color: #ddd;
  font-size: 25px;
  font-weight: 400;
  cursor: pointer;
  padding: 0 10px;
}

.footer-custom {
  background: #000;
  color: #cbd5e1;
  padding: 60px 0 25px;
}

.footer-title {
  font-weight: 700;
  margin-bottom: 15px;
  color: #fff;
}

.footer-subtitle {
  font-weight: 600;
  margin-bottom: 15px;
  color: #fff;
}

.footer-desc {
  font-size: 14px;
  line-height: 1.6;
}

.footer-list {
  list-style: none;
  padding: 0;
  font-size: 14px;
}

.footer-list li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer-list a {
  color: #cbd5e1;
  text-decoration: none;
  transition: 0.3s;
}

.footer-list a:hover {
  color: #3b82f6;
  padding-left: 5px;
}

.footer-bottom {
  margin-top: 40px;
  padding-top: 20px;
  border-top: 1px solid #334155;
  text-align: center;
  font-size: 13px;
  color: #94a3b8;
}


.layout-main {
    width: 100%;
    min-height: 90vh; 
}

.dropdown-logout {
    position: absolute;
    width: 130px;
    top: 50px;
    right: 20px;
    z-index: 999;
    background: #bdbbbb;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.dropdown-logout i {
    font-weight: 800;
    margin-left: 10px;
}

.dropdown-logout button {
    width: 100%;
    background: #bdbbbb;
    color: #000;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    text-decoration: underline;
}

.dropdown-logout button:hover {
    color: blue;
}



.text-container {
    margin-top: 10px;
    flex: 1;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.animated-text {
    text-shadow: 
        -1px -1px 0 #fff, 
        1px -1px 0 #fff, 
        -1px 1px 0 #fff, 
        1px 1px 0 #fff;
    transition: transform 0.5s ease, opacity 0.5s ease;
    color: #000;
    font-size: 40px;
    font-weight: 1000;
    text-align: center;
    margin: 0;
}

.animated-text.hidden {
    transform: translateY(-20px);
    opacity: 0;
}

.animated-text.visible {
    transform: translateY(0);
    opacity: 1;
}




.admin {
    display: flex;
    width: 100%;
    height: 100%;
    background: #212121;

    .admin-layout {
        flex: 1;
        height: 100%;
    }

    .admin-desc {
        color: #ddd;
        text-align: center;
        font-size: 40px;
        font-weight: 700;
        margin: 10px 10px 20px 20px;
    }
}

// Media Queries
@media (min-width: 1170px) {
    .tab-item {
        padding-left: 1rem;
        border-bottom: 1px solid #333333;
    }
}

@media (max-width: 1170px) {


    .text-container {
        height: 60px;
    }

    .animated-text {
        font-size: 27px;
    }

    .about {
        &__content {
            flex: 1 !important;
            min-width: 0;
        }

        &__produce {
            width: 70%;

            img {
                width: 50%;
            }
        }

        &__project {
            width: 70% !important;

            img {
                width: 50%;
            }
        }

        &__skill {
            width: 80%;
        }
    }
}

@media (max-width: 960px) {

    .text-container {
        height: 50px;
    }

    .animated-text {
        font-size: 22px;
    }
}

@media (max-width: 768px) {

    .about {
        &__produce {
            height: 300px;
            width: 90%;
            margin-top: 30px;

            p {
                padding: 0;
            }

            img {
                width: 60%;
                height: auto;
            }
        }

        &__project {
            height: 230px;
            width: 90%;
            margin-top: 30px;

            p {
                padding: 0;
            }

            img {
                width: 80%;
                height: auto;
            }
        }
    }
    .hamburger-btn {
        display: block;
    }

    .header__left {
        display: flex;
        justify-content: flex-start;
    }

    .header__image {
        margin-left: 10px !important;
    }
}

@media (max-width: 540px) {
    .header {
        height: 50px;
        padding: 5px 0;
        background-repeat: no-repeat;

        &__logo {
            width: 25%;
        }

        &__image {
            width: 50px;
            height: 100%;
            margin-right: 10px;
            margin-left: 0;
        }

        &__fabar {
            width: 20px;
            margin-left: 10px;
            font-size: 15px;
        }

        &__menu {
            flex: 1;
            height: 100%;
            margin: 0;

            ul {
                width: 100%;
                justify-content: end;
                padding: 0;

                li {
                    width: 30%;
                    height: 100%;
                    font-size: 12px;
                    margin-right:20px;
                }
            }
        }
    }
    .footer-custom {
        padding: 25px 0 15px;
    }
    .menu__page {
        width: 100% !important;
    }

    .Home {
        flex-direction: column;

        &__desc {
            font-size: 12px;
        }


        &__main {
            flex: 1;
        }
    }

    .animated-text {
        font-size: 18px;
    }

    .about {
        flex-direction: column;

        &__produce {
            height: 400px;
            width: 90%;
            margin-top: 30px;

            p {
                padding: 0;
            }

            img {
                width: 90%;
                height: 70%;
            }
        }

        &__project {
            height: 230px;
            width: 90%;
            margin-top: 30px;

            p {
                padding: 0;
            }

            img {
                height: auto;
            }
        }
    }

    .contact {
        flex-direction: column;
    }

    .admin {
        flex-direction: column;
    }
}

@media (max-width: 430px) {
    .header {
        &__image {
            margin-left: 40px;
        }
    }


    .text-container {
        height: 30px;
    }

    .animated-text {
        font-size: 13px;
    }

    .container {
        flex-direction: column;
        margin-top: 20px;
    }

    .toggle-button {
        font-size: 12px;
        margin-bottom: 5px;
        padding: 0 6px;
    }

    .about {
        &__produce {
            width: 80% !important;

            p {
                padding: 0;
                margin-bottom: 5px;
            }

            img {
                width: 100%;
                height: 75%;
            }
        }

        &__project {
            height: auto;

            p {
                padding: 0;
                margin-bottom: 5px;
            }

            img {
                width: 100%;
                height: auto;
            }
        }
    }
}