*{
    box-sizing: border-box;
}
.header {
    position: sticky;
    top:0;
    display :flex;
    height: 50px;
    border-bottom: 1px solid #333333;
    align-items:center;
    justify-content: space-between;
    background-color:#000;
    background-position:center;
    box-shadow: 5px 0 10px rgba(118, 57, 57, 0.382);
    z-index: 1000;
    &__logo {
        width: 100px;
        height: 100%;
        display: flex;
        justify-content:center;
        align-items: center;
        
    }
    &__fabar{
        color: #ddd;
        width:45px;
        margin-left: 20px;
        margin-right: 10px;
        font-size: 40px;
    }
    &__image{
        margin-left: 40px;
        width:45px;
        height: 100%;   
    }
    &__menu{
        height: 100%;
        margin-right: 50px;
        ul {
            
            display: flex;
            list-style:none;
            height: 100%;
            margin: 0;
            li{
                height: 100%;
                .menu__page{
                    width: 120px;
                    height: 100%;
                    color: #ddd;
                    font-weight: 700;
                    text-decoration: none;
                    display: flex;
                    flex-direction: column;
                    align-items : center;
                    justify-content : center;
                    white-space: nowrap ;
                }
                .active{
                    color: black; 
                    text-shadow: 
                    -1px -1px 0 white, 
                    1px -1px 0 white, 
                    -1px  1px 0 white,
                    1px  1px 0 white;
                }
            }   
        }
    }
    
}
 
footer{
    border-top: 1px solid red;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items : center;
    justify-content:center;
    z-index: 1000;
    background: #000;
    // background-image : url(https://i.pinimg.com/originals/b9/3d/49/b93d49cfb9653b743ef2692cb9d3f205.gif);
    // background-position: center; 
    .footer-contact{
        text-align : center;
        width: 100%;
        padding-top:20px;
        display: flex;
        justify-content: center;
        ul{
            list-style: none;
            li{
                color: #ddd;
                text-shadow: 
                -1px -1px 0 black, 
                1px -1px 0 black, 
                -1px  1px 0 black, 
                1px  1px 0 black;
            }
        }
    }
    p {
        width: 100%;
        height: 50px;
        color: #ddd;
        font-weight: 600;
        text-align: center;
        margin:0;
    }
}
.layout-main{
    width: 100%;  
}
.dropdown-logout {
  position: absolute;
  top: 60px;
  right:10px;
  z-index: 999;
}
.dropdown-logout button {
    padding: 5px;
    background : red;
    color: #000;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    margin-right: 10px;
    text-decoration:underline;
}
.tabbar{
    height: 100vh;
    position: sticky;
    top: 50px;
    z-index: 999;
    width: 16%;
    background: #181818;
    backdrop-filter: blur(10px);
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.5);
    margin: 0;
    padding:0;
    color: #ddd;
    p{
        width: 100%;
        height: 50px ;
        font-weight: 700;
        text-align: center;
        padding: 15px 0;
        margin: 0;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border-bottom: 1px solid #000;
    }   
    ul{
        width: 100%;
        list-style: none;
        padding: 0;
        margin: 0;
    }
    a {
        width: 100%;
        font-weight: 700;
        padding: 7px 0;
        color: #ddd;
        display: flex;
        justify-content: start;
        align-items: center;
        margin-bottom: 10px;
        text-decoration : none;
        .icon{
            margin: 0 10px;
        }
    }
    a:hover{
       background: #000;
        color: #fff;
    }
}

.Home{
    display:flex;
    width: 100%;
    height: 100%;
    background: #212121;
    color: #ddd;
    &__main{
        flex:1;
    }
    .container{
        width:100%;
        display:flex ;
        justify-content:center;
        flex-wrap:wrap;
        padding:0;
    }

    &__feature{
        width: 30%;
        height:440px;
        display: flex;
        flex-direction : column;
        justify-content:start;
        align-items:center;
        margin-bottom: 50px;
        margin-left: 10px;
        overflow: hidden;
        border-bottom: 1px solid #333333;
        h2{
            text-align: center;
        }
        p{
            text-align:center;
            margin:0;
        }
        img{
            width: 100%;
            height:50%;
            object-fit:cover;
        }
    }
    &__note{
        margin : 50px auto;
        width: 90%;
        padding: 10px 0;
        color: #ddd;
        ul{
            list-style: none;
            padding: 0;
            margin: 0;
            li{
                margin: 5px 0;
            }
        }
        &-text{
            font-size: 25px;
            font-weight: 500; 
        }
    }
    
}


.text-container {
    margin-top: 10px;
    flex:1;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: start ;
    align-items: center ;
  }
  
  .animated-text {
    text-shadow: 
    -1px -1px 0 #fff, 
    1px -1px 0 #fff, 
    -1px  1px 0 #fff, 
    1px  1px 0 #fff; 
    transition: transform 0.5s ease, opacity 0.5s ease;
    color: #000;
    font-size: 40px;
    font-weight: 1000;
    text-align:center;
    margin:0;
  }
  
  .animated-text.hidden {
    transform: translateY(-20px); /* Di chuyển lên khi ẩn */
    opacity: 0;
  }
  
  .animated-text.visible {
    transform: translateY(0); /* Hiện lại vị trí ban đầu */
    opacity: 1;
  }
  
  //About 
  .about{
    display: flex;
    background: #212121;
    color: #ddd;
    // background-attachment: fixed;
    // background-image: url(https://i.pinimg.com/736x/fe/29/a1/fe29a1f829b3c6e752e941efa0c8b767.jpg);
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: center;
    &__content{
        flex: 1;
    }
    &__produce{
        margin: 0 auto;
        margin-top: 20px;
        width: 50%;
        height: 300px;
        display: flex;
        align-items:center;
        justify-content: center;
        border-bottom: 1px solid #333333;
        p{
            font-size: 14px;
            font-weight: 500;
            padding: 0 30px;
        }
        img{
            width: 50%;
            height: 100%;
            object-fit : cover;
        }
    }
    &__project{
        width: 50%;
        display: flex;
        align-items: center;
        margin: 0 auto;
        margin-top: 30px;
        padding-bottom: 50px;
        border-bottom: 1px solid #333333;
        img{
            width: 70%;
            height: 250px;
            margin-right: 10px;
            border: 1px solid #333333;
        }
        p{  
            font-size: 14px;
            font-weight: 500;
            padding: 0 30px;
        }
    }
  }


  .hidden-audio { 
    display: none; 
  }
  .toggle-button{
    white-space: nowrap;
    font-size: 15px;
    color: #000;
    font-weight: 700;
    background: none;
    border:none;
    text-shadow: 
    -1px -1px 0 white, 
    1px -1px 0 white, 
    -1px  1px 0 white,
    1px  1px 0 white;
    
  }


  .contact{
    display:flex;
    width: 100%;
    height: 100%;
    background: #212121;
    &__content{
        height: 68vh;
    }
    &__title {
        color:#ddd;
        font-size: 30px;
        font-weight: 600;
        text-align:center;
    }
  }
  .admin{
    display:flex;
    width: 100%;
    height: 100%;
    background: #212121;
    .admin-layout{
        flex:1;
        height: 100%;
    }
    .admin-desc{
        color: #ddd;
        text-align:center;
        font-size:40px;
        font-weight: 700;
        margin: 10px 10px 20px 20px;
    }
  }

  @media (max-width: 1170px){
    
    .Home{
        &__feature{
            height: 470px;
        }
    }

    .text-container{
        height:60px;
    }
    .animated-text{
        font-size: 27px;
    } 

    .about{
        &__produce{
            width: 80%!important;
            img{
                width: 50%;
            }
        }
        &__project{
            width: 80%!important;
            img{
                width: 50%;
            }
        }
    }
  }


  @media (max-width: 960px){
    .tabbar {
        p{
            height: 40px;
            padding-bottom: 35px;
        }
    }
    //home 
    .Home{
        // flex-direction: column;
        &__feature{
            height: 430px;
            margin-left:20px;
          
        }
        &__desc{
            font-size: 13px;
            padding: 0 20px;;
        }

    }
    //about 
    .about{
        flex: none;
        &__produce{
            height: 400px;
            width: 70%!important;
            flex-direction : column;
            margin: 20px auto;;
            p{
                padding: 0;
                margin: 0;
                flex:1;
                margin: 10px 0 20px 0;
            }
            img{
                width: 60%;
                height: 70%;
            }
        }
        &__project{
            height: 400px;
            width: 70%!important;
            flex-direction : column;
            margin: 20px auto;;
            p{
                padding: 0;
                margin: 0;
                flex:1;
                margin: 10px 0 20px 0;
            }
            img{
                width: 100%;
                height: 70%;
            }
        }
    }


    //contact
   

   
    .text-container{
        height:50px;
    }
    .animated-text{
        font-size: 22px;
    } 
    
  }

  @media (max-width: 768px){
    .Home{
        
        &__feature{
            flex-direction:row;
            width: 100%;
            height: auto;
            margin-left:0;
            padding: 0 20px;
            margin: 20px 0;
            border-top: 1px solid #333333;
            img{
                width: 100px;
                height :auto;
                object-fit: cover;
                aspect-ratio: 1/1;
            }
            &__feature-text{
                flex:1;
                height: auto;
            }
        }
        &__desc{
            font-size: 14px;
        }
    }
    .tabbar{
        width: 25%;
    }
     .about {
        &__produce {
          height: 400px;
          width: 90%;
          margin-top: 30px;
      
          p {
            padding: 0;
          }
      
          img {
            width: 90%;
            height: 70%;
          }
        }
      
        &__project {
          height: 400px;
          width: 90%;
          margin-top: 30px;
      
          p {
            padding: 0;
          }
      
          img {
            height: 70%;
          }
        }
      }
   
  }



  @media (max-width: 540px){
    .header{
        height:50px;

        &__logo{
            width:25%;
        }
        &__image{
            width:30px;
            height: 100%;
            margin-right:10px;;
            margin-left:0;
        }
        &__fabar{
            width:20px;
            margin-left: 10px;
            font-size: 15px;
        }
        &__menu{
            flex:1;
            height: 100%;
            margin:0;

            ul {
                width:100%;
                justify-content: end ;
                padding: 0;

                li{
                    width:30%;
                    height: 100%;
                    font-size:12px;
                }
            }   
        }
    }
    .menu__page{
        width:100%!important ;
    }
    .Home{
        flex-direction: column;

        &__desc{
            font-size: 12px;
        }
        &__feature{
            margin: 0 auto;
            margin-bottom: 30px;    
            box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
            img{
                width: 100px;
                height: auto;
                aspect-ratio: 1/1;
            }
        }
        &__main{
         
            flex:1;
        }
    }

    .animated-text {
          font-size: 18px;
    }

    .tabbar{
    width: 100%;
    display:flex;
    height:40px;
    p{
        width: 20%;
        font-size:10px;
        padding:0;
        align-items:center;
        justify-content:center;
        display:flex;
        flex-direction:column;
        background: #181818;
        border-bottom: none;
    }
    ul{
        display:flex;
        flex:1;
        .dis-none{
                display: none;
            }
        li{
            width: 25%;
            a {
                height: 100%;
                width: 100%;
                font-weight: 700;
                font-size: 10px;
                display: flex;
                justify-content:center;
                margin: 0;
                .icon{
                    font-size: 17px;
                    margin: 0 2px;
                }
            }
        }
    }
    
    }
    .about {
        flex-direction: column;
        &__produce {
          height: 400px;
          width: 90%;
          margin-top: 30px;
      
          p {
            padding: 0;
          }
      
          img {
            width: 90%;
            height: 70%;
          }
        }
      
        &__project {
          height: 400px;
          width: 90%;
          margin-top: 30px;
      
          p {
            padding: 0;
          }
      
          img {
            height: 70%;
          }
        }
      }
       .contact{
        flex-direction: column;
        }
        .admin {
        flex-direction: column;
        }
     }
      @media (max-width: 430px) {
      
        .header {
          &__image {
            margin-left: 40px;
          }
        }
      
        //Home
        .Home {
      
          &__desc {
            padding: 0 10px;
            font-size: 12px;
          }
      
          &__title {
            font-size: 19px;
          }
        }
      
        // Container
        .text-container {
          height: 30px;
        }
      
        .animated-text {
          font-size: 13px;
        }
      
        .container {
          flex-direction: column;
          margin-top: 20px;
        }
      
        .toggle-button {
          font-size: 12px;
          margin-bottom: 5px;
          padding: 0 6px;
        }
      
        // About
        .about {
          &__produce {
            p {
              padding: 0;
              margin-bottom: 5px;
            }
      
            img {
              width: 100%;
              height: 70%;
            }
          }
      
          &__project {
            p {
              padding: 0;
              margin-bottom: 5px;
            }
          }
        }
      }
      




  