
.previews-info {
  width: 100%;
  height: 40%;
  padding: 16px;
  color: #fff;
  background: rgba(0,0,0,0.8);
}

.previews-actions {
  margin-top: 12px;
  display: flex;
  gap: 10px;
}
.previews-name{
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 0;
  -webkit-text-stroke: 0.5px #000000;
  text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
}

.btn-watch {
  color: #000;
  padding: 7px 20px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 0.7rem;
}

.btn-like,
.btn-detail {
  background: #2a2a2a;
  color: #fff;
  padding: 7px 20px;
  text-decoration: none;
  font-size: 0.8rem;
  cursor: pointer;
}

