
.form-control{
    background: #303030;
    border:0;
    color: #ddd!important;
    width: 85%!important;
    margin: 0 auto;
}
.form-control::placeholder{
    color: #ddd;
    opacity: 0.5;
}
.form-control:focus{
    background: #303030;
    border: 1px solid #ddd;
}
.suggestions-list{
    background: #303030;
}

.suggestion-song-title{
    color: #ddd;
}

.suggestion-song-text{
    color: #ddd;
}
.suggestions-list:hover{
    background: #303030;
}

.search-song {
    width: 85%;
    color: #ddd;
    margin: 0 auto;
    text-align: start;
    margin-bottom :10px;
}

@media (max-width: 768px){
    .form-control{
    width: 100%!important;
    }
    .search-song{
        width: 100%;
    }
}