.login-register {
  text-align: center;
  margin-top: 18px;
  color: #bbb;
}

.login-register span {
  color: #e50914;
  cursor: pointer;
  font-weight: 600;
}

/* ===== ANIMATION ===== */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}