.film-container {
  padding: 2rem;
  min-height: 100vh;
  font-family: 'Segoe UI', sans-serif;
}

.result-title {
  margin-bottom: 1.5rem;
  color: #1895e9;
}

.loading-text {
  color: #27ae60;
  font-size: 1.2rem;
}

.no-result {
  color: #7f8c8d;
  font-style: italic;
}

.film-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: 1rem;

  @media (max-width: 360px) {
    grid-template-columns: repeat(2, 1fr); // ép 2 cột
  }
}


.film-card {
  text-decoration: none;
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

.film-card:hover {
  transform: scale(1.05);
}

.film-poster-wrapper {
  position: relative;
}

.film-poster {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 12px;
}

.film-overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0,0,0,0.6);
  color: white;
  padding: 0.5rem;
  text-align: center;
}

.film-name {
  margin: 0;
  font-size: 0.9rem;
  font-weight: bold;
  -webkit-text-stroke: 0.5px #000000;
  text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
}

.film-year {
  font-size: 0.8rem;
  color: #f1c40f;
}
.film-episodes {
  position: absolute;
  top: 8px;
  right: 8px;
  background: rgba(0,0,0,0.7);
  color: #f1c40f;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 2px 6px;
  border-radius: 6px;
}

/* backdrop mờ */
.hover-preview-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.35);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* card to ở giữa */
.hover-preview-card {
  width: 520px;
  height: 380px;
  background-size: cover;
  background-position: center;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 25px 60px rgba(0,0,0,.6);
  animation: zoomIn .25s ease;
  display:flex;
  align-items: flex-end;
}


/* info chiếm 1/3 */
.preview-info {
  width: 100%;
  height: 55%;
  padding: 16px;
  color: #fff;
  background: rgba(0,0,0,0.8);
}

.preview-actions {
  margin-top: 12px;
  display: flex;
  gap: 10px;
}
.preview-name{
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 0;
  -webkit-text-stroke: 0.5px #000000;
  text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
}

.preview-year{
  font-size: 0.8rem;
  margin-bottom: 0;
}
.btn-watch {
  color: #000;
  padding: 7px 20px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 0.7rem;
}

.btn-like,
.btn-detail {
  background: #2a2a2a;
  color: #fff;
  padding: 7px 20px;
  text-decoration: none;
  font-size: 0.8rem;
  cursor: pointer;
}
.detail-year {
  color: rgb(0, 171, 245);
  font-size: 0.7rem;
  background:#7f8c8d5d;
  border-radius: 5px;
  padding: 4px;
  font-weight: 600;
}
.disable-hover {
  pointer-events: none;
}

@keyframes zoomIn {
  from {
    transform: scale(.85);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
