.Home {
    display: flex;
    width: 100%;
    height: 100%;
    color: #ddd;
    background: #121212;

    &__main {
        flex: 1;
        min-width: 0;
    }

    .container {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0;
    }


    &__note {
        margin-left: 15px;
        margin-bottom: 30px;
        width: 90%;
        color: #ddd;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                margin: 5px 0;

                i {
                    font-size: 14px;
                }
            }
        }

        &-text {
            font-size: 25px;
            font-weight: 500;
        }

        span {
            cursor: pointer;
            color: blue;
            text-decoration: underline;
        }
    }
}