.Home {
    display: flex;
    width: 100%;
    height: 100%;
    color: #ddd;

    &__main {
        flex: 1;
        min-width: 0;
    }

    .container {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0;
    }

    &__feature {
        width: 28%;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        background: rgba(13, 74, 217, 0.114);
        backdrop-filter: blur(6px);
        border-radius: 8px;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
        opacity: 0.9;
        margin-bottom: 50px;
        margin-left: 10px;
        overflow: hidden;
        border-bottom: 1px solid #333333;

        h2 {
            font-size: 20px;
            text-align: center;
            padding-top: 12px;
        }

        p {
            font-size: 12px;
            text-align: center;
            margin: 0;
        }

        img {
            width: 100%;
            height: 55%;
            object-fit: cover;
        }
    }

    &__note {
        margin-left: 15px;
        margin-bottom: 30px;
        width: 90%;
        color: #ddd;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                margin: 5px 0;

                i {
                    font-size: 14px;
                }
            }
        }

        &-text {
            font-size: 25px;
            font-weight: 500;
        }

        span {
            cursor: pointer;
            color: blue;
            text-decoration: underline;
        }
    }
}