.input-search-film {
  display: flex;
  align-items: center;
  position: relative;
  max-width: 400px;
  margin: 0 auto 1rem;
  @media (max-width: 430px) {
    max-width: 300px;
  }

  .input-film {
    flex: 1;
    padding: 0.5rem 2.5rem 0.5rem 0.75rem; // chừa khoảng trống bên phải cho icon
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    transition: border-color 0.3s ease;

    &:focus {
      outline: none;
      border-color: #27ae60;
      box-shadow: 0 0 0 2px rgba(39, 174, 96, 0.2);
    }
  }

  svg {
    position: absolute;
    right: 0.75rem;
    color: #888;
    font-size: 1.2rem;
    pointer-events: none; // không chặn click vào input
  }
  .search-film-icon{
    pointer-events: auto;
    cursor: pointer;
    height: 100%;
    width: 40px;
    padding-left: 10px;
    border-left: 1px solid #ccc;
  }

}

.film-category{
  font-size: 20px;
}
.film-card {
  width: 100%;
  background-image: 
    radial-gradient(circle, rgba(0,0,0,0.03) 1px, transparent 1px),
    radial-gradient(circle, rgba(0,0,0,0.03) 1px, transparent 1px);
  background-position: 0 0, 25px 25px;
  aspect-ratio: 2 / 3; /* chuẩn poster phim */
  border-radius: 12px;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  transition: transform 0.3s ease;
}

.film-card:hover {
  transform: scale(1.05);
}

/* lớp phủ tối */
.film-card::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}

/* nội dung */
.film-card__overlay {
  position: relative;
  z-index: 2;
  padding: 10px;
  color: #fff;
}

.film-card__title {
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 4px;
}

.film-card__episode {
  margin-bottom: 0;
  font-size: 10px;
  opacity: 0.85;
}

.swiper{
  padding-bottom: 12px;
}

@media (max-width: 768px){
  .container-film{
    max-width: 100%!important;
    margin: 0!important;
  }
}

@media (max-width: 540px){
  .film-card__title {
    font-size: 10px;
    margin-bottom: 2px;
  }
}