.hero-carousel {
  width: 100%;
  padding: 0 15px;
}

/* CARD */
.hero-card {
  position: relative;
  height: 220px;
  border-radius: 18px;
  border: 1px solid rgba(255,255,255,.1);
  background:#107dd023;
  overflow: hidden;
  transition : transform 0.3s ease;
  cursor: pointer;
}

.hero-card:hover {
  transform: scale(1.05);
}

/* THUMB (ẢNH TO) */
.hero-card__thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.9);
}

/* GRADIENT */
.hero-card__mask {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to right,
    rgba(0,0,0,.85) 0%,
    rgba(0,0,0,.55) 40%,
    transparent 75%
  );
}

/* CONTENT */
.hero-card__content {
  position: absolute;
  left: 24px;
  bottom: 20px;
  display: flex;
  gap: 16px;
  z-index: 2;
}

/* POSTER (ẢNH NHỎ) */
.hero-card__poster {
  position : absolute;
  top:100px;
  left: 20px;
  width: 70px;
  aspect-ratio: 2 / 3;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 8px 24px rgba(0,0,0,.6);
}
.hero-card__detail{
    position: absolute;
    bottom: 5px;
    right: 10px;
    color: #fff;
}

/* MOBILE */
@media (max-width: 1240px){
  .hero-card {
    height: 190px;
  }
  .hero-card__poster {
    width: 60px;
    top: 70px;
  }
}

@media (max-width: 768px) {
  .hero-card {
    height: 150px;
  }

  .hero-card__poster {
    width: 50px;
    left: 10px;
    top: 60px;
  }

  .hero-card__title {
    font-size: 1rem;
  }
}

@media (max-width: 450px){
    .hero-card{
        height: auto;
    }
    .hero-card__poster {
        display: none;
    }
    .hero-card__detail{
        padding: 0 10px;
        position: static;
        margin-top: 10px;
    }
}