.hero-carousel {
  width: 100%;
  padding: 0 15px;
}

/* CARD */
.hero-card {
  position: relative;
  height: 220px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}



/* THUMB (ẢNH TO) */
.hero-card__thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.9);
}

/* GRADIENT */
.hero-card__mask {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to right,
    rgba(0,0,0,.85) 0%,
    rgba(0,0,0,.55) 40%,
    transparent 75%
  );
}

/* CONTENT */
.hero-card__content {
  position: absolute;
  left: 24px;
  bottom: 20px;
  display: flex;
  gap: 16px;
  z-index: 2;
}

/* POSTER (ẢNH NHỎ) */
.hero-card__poster {
  position : absolute;
  top:100px;
  left: 20px;
  width: 70px;
  aspect-ratio: 2 / 3;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 8px 24px rgba(0,0,0,.6);
}
.hero-card__detail{
    position: absolute;
    bottom: 5px;
    right: 10px;
    color: #fff;
}

// GENRE CAROUSEL

.genre-carousel {

  &__title {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .swiper {
    padding-left: 12px;
    padding-right: 12px;
  }

  .swiper-slide {
    width: 150px!important; 
    background: none;
  }

  &__card {
    height: 80px; 
    width: 100%;        
    padding: 14px;        
    border-radius: 16px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    transition: transform 0.25s ease, box-shadow 0.25s ease;

   

    &:hover {
      transform: translateY(-4px) scale(1.015); 
      box-shadow: 0 12px 26px rgba(0,0,0,0.3);
    }
  }

  &__card-title {
    font-size: 18px;    
    font-weight: 600;
  }

  &__card-desc {
    font-size: 13px;
    opacity: 0.8;
    line-height: 1.3;
  }
}


/* MOBILE */
@media (max-width: 1240px){
  .hero-card {
    height: 160px;
  }
  .hero-card__poster {
    width: 60px;
    top: 50px;
    left: 10px;
  }
}

@media (max-width: 768px) {

  .hero-card {
    height: 200px;
  }

  .hero-card__poster {
    width: 60px;
    left: 10px;
    top: 90px;
  }

  .hero-card__title {
    font-size: 1rem;
  }
}
@media (max-width: 560px) {
  .hero-card {
    height: 150px;
  }
  .hero-card__poster {
    width: 50px;
    left: 10px;
    top: 50px;
  }
}
@media (max-width: 450px){
    .hero-card{
        height: auto;
    }
    .hero-card__poster {
        display: none;
    }
    .hero-card__detail{
        padding: 0 10px;
        position: static;
        margin-top: 10px;
    }
}