.music-card {
    height: 70px;
    display: flex;
    align-items: center;
    background-color: #8f85852e;
    color: #ddd;
    padding: 12px;
    border-radius: 8px;
    // box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  .music-container-box{
    display:flex;
  }
  .music-container{
    flex:1;
    position: relative;
    background: #212121;
  }
  .music-card img {
    border-radius: 8px;
  }
  .title-box-music{
    margin-bottom:10px;
  }

  .music-card .card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
    background: #f8f9fa;
  }
  
  .music-card .card-title {
    font-size: 16px;
    font-weight: bold;
  }
  
  .music-card .card-text {
    text-align: center;
    font-size: 14px;
    color: #fff;
  }

  .profile {
  background: #212121;
  display: flex;
  padding: 30px 150px;
 }
 
 .profile .profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  object-fit: cover;
  animation: spin 10s linear infinite;
 }
 .profile .profile-info {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
 }
 .profile .profile-title {
  font-weight: 700;
  color: #ddd;
  margin: 0;
 }
 .profile .profile-desc {
  color: #ddd;
  margin: 0;
  font-size: 14px;
 }


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


  .audio-container {
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120px;
    border-top: 1px solid #333333;
    padding: 10px;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: bottom 0.3s; /* Thêm hiệu ứng khi thay đổi vị trí */
    background-color: #2e2e3e;
  }
  
  .custom-audio {
    background:#212121;
    width: 100%;
    height: 30px;
  }

  .img-audio{
    border-radius: 50%!important;
    animation: spin 10s linear infinite;
  }
  .card-music-body{
    justify-content: center;
    width: 100%;
    height: 50px;
  }
  .music-card{
    height: 60px;
    margin-bottom: 5px;
  }
  .change-song{
    color: #ddd;
    border:none;
    background: none;
    padding:0;
    font-size: 18px;
    margin-left: 10px;  
  }

  .card-render-title{
    font-size: 14px;
    font-weight: 650;
    text-align:center;
  }

  .card-render-text{
    font-size: 10px;
    text-align: center;
    color: #fff;
  }

  .suggestions-list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 200px;
  overflow-y: auto;
  background: white;
  border: 1px solid #ccc;
  border-top: none;
  z-index: 10;
  padding-left: 0;
  margin-top: 0;
  list-style: none;
  border-radius: 0 0 4px 4px;
}

.suggestion-item {
  display: flex;
  align-items: center;
  padding: 8px 10px;
  cursor: pointer;
}

.suggestion-item:hover {
  background-color: #f0f0f0;
}

.shuffle{
  margin-top: 5px;
  border-radius: 16px;
  background: linear-gradient(135deg, #481c6e, #2587dc);
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.5);
  font-weight: 600;
  border: none;
  color: #ddd;
}

.shuffle:hover{
  background: #fff;
}

   @media (max-width: 768px) {
  .profile {
    padding: 10px; 
  }
  .profile .profile-image {
    width: 80px;
    height: 80px;
  }
  .profile .profile-title {
    font-size: 18px;
  }
  .profile .profile-desc {
    font-size: 12px;
  }
  .music-container{
    flex:1;
  }
}

 @media (max-width: 540px){
    .music-container-box{
      flex-direction: column;
    }
  }
