.movie-page{
  min-height: 100vh;
  position: relative;
  color: #fff;
  background-image: var(--bg-url);
  background-size: cover;      
  background-repeat: no-repeat;
  background-attachment: fixed; 
  z-index: 0;
}
.movie-page::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.5);   
  backdrop-filter: blur(6px);    
  z-index: -1;                 
}
//hls-video
.movie-page__player {
  background: #000;
}

.movie-video {
  width: 100%;
  height: 100%;
  object-fit: contain; // hoặc cover
  display: block;
}
.video-wrapper {
  position: relative;
  width: 100%;
  max-width: 100%;
  aspect-ratio: 16 / 9;   // 👈 chuẩn hiện đại
  background: #000;       // 👈 phần dư = màu đen
  overflow: hidden;
  display: flex;
  justify-content: center;
}
//end hls

.movie-page__episode{
    font-size: 12px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
}
.film-policy{
    color: #fff;
}
/* ===============================
   MOVIE INFO (COMPACT)
================================= */

.movie-page__info {
  background: rgba(0, 0, 0, 0.366);
  backdrop-filter: blur(8px);
  border-radius: 14px;
  padding: 18px 22px;   /* giảm padding */
  color: white;
}

.movie-page__info-layout {
  display: flex;
  gap: 18px;            /* giảm gap */
  align-items: flex-start;
}

.movie-page__poster img {
  width: 130px;         /* giảm từ 180 -> 130 */
  height: 190px;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 8px 30px rgba(0,0,0,.5);
}

.movie-page__content {
  flex: 1;
}

.movie-page__name {
  font-size: 20px;      /* nhỏ lại */
  font-weight: 600;
  margin-bottom: 15px;
}

.movie-page__meta {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  font-size: 12px;
}

.movie-page__desc {
  font-size: 13px;
  line-height: 1.5;
  color: #ccc;
  margin-top: 8px;

  display: -webkit-box;       /* giới hạn chiều cao */
  -webkit-line-clamp: 3;      /* chỉ 3 dòng */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.server-list{
  display:flex;
  gap:12px;
  flex-wrap:wrap;
}

// chon server
.server-pill{
  display:flex;
  align-items:center;
  gap:8px;

  padding:8px 16px;
  border-radius:10px;
  background-color: #00000030;
  border:1px solid rgba(4, 0, 0, 0.689);
  background:transparent;

  color:#fff;
  font-size:14px;

  transition:all .25s ease;
}

.server-pill:hover{
  border-color:#fff;
  background:rgba(255,255,255,0.05);
}

.server-pill.active{
  background:#84e5f9b4;
  color:#000;
}

.server-icon{
  font-size:14px;
}
/* ===============================
   DETAIL
================================= */
.movie-detail-container {
  background: #0f0f0f;
  color: white;
  min-height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  .loading-screen, .error-screen {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
  }

  // Hero Section
  .hero-section {
    position: relative;
    padding: 100px 5% 50px;
    overflow: hidden;

    .hero-bg {
      position: absolute;
      top: 0; left: 0; width: 100%; height: 100%;
      background-size: cover;
      background-position: center;
      filter: blur(2px) brightness(0.4);
      transform: scale(1.1);
      z-index: 1;
    }

    .hero-overlay {
      position: absolute;
      inset: 0;
      background: linear-gradient(to top, #0f0f0f16 5%, transparent 50%);
      z-index: 2;
    }

    .hero-content {
      position: relative;
      z-index: 3;
      display: flex;
      gap: 30px;
      max-width: 1200px;
      margin: 0 auto;

      @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
        text-align: center;
      }

      .poster-wrapper {
        flex-shrink: 0;
        img {
          width: 150px;
          border-radius: 12px;
          box-shadow: 0 20px 40px rgba(0,0,0,0.8);
          border: 1px solid rgba(255,255,255,0.1);
        }
      }

      .info-wrapper {
        .title-vn {
          font-size: 1.5rem;
          margin-bottom: 5px;
          color: #fff;
          text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
        }
        .title-en {
          font-size: 0.8rem;
          color: #f5c518;
          margin-bottom: 20px;
          font-weight: 400;
        }

        .tag-container {
          display: flex;
          gap: 12px;
          flex-wrap: wrap;
          margin-bottom: 17px;

          .info-tag {
            background: rgba(255,255,255,0.1);
            padding: 3px 7px;
            border-radius: 4px;
            font-size: 0.75rem;
            backdrop-filter: blur(5px);
          }
        }

        .btn-play {
          padding: 10px 35px;
          background: #0ebe1f;
          color: #000;
          border: none;
          border-radius: 50px;
          font-weight: bold;
          font-size: 0.8rem;
          cursor: pointer;
          transition: all 0.3s ease;
          &:hover {
            transform: scale(1.05);
            background: #fff;
          }
        }

        .description {
          font-size: 13px;
          margin-top: 25px;
          color: #bbb;
          line-height: 1.5;
          max-width: 800px;
          display: -webkit-box;
          -webkit-line-clamp: 5;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
      }
    }
  }

  // Episodes Section
  .episodes-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 2%;
    padding-bottom:35px;
    .section-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #333;
      padding-bottom: 15px;
      margin-bottom: 25px;

      h3 { font-size: 1rem; color: #fff; }

      .server-tabs {
        display: flex;
        gap: 10px;
        button {
          font-size: 13px;
          padding: 3px 8px;
          background: #222;
          border: none;
          border-radius: 4px;
          color: #aaa;
          cursor: pointer;
          &.active {
            background: #0ebe1f;
            color: #000;
            font-weight: bold;
          }
        }
      }
    }

    .episode-grid {
      display: grid;
      
      grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
      gap: 15px;

      .episode-card {
        background: #1a1a1a;
        border: 1px solid #333;
        padding: 8px;
        border-radius: 8px;
        color: white;
        cursor: pointer;
        transition: 0.2s;
        text-align: left;

        &:hover {
          border-color: #f5c518;
          background: #252525;
          .play-icon { opacity: 1; }
        }

        .ep-info {
          display: flex;
          
          justify-content: center;
          align-items: center;
          .ep-name { font-size: 0.8rem; }
          .play-icon { color: #f5c518; opacity: 0; transition: 0.3s; }
        }
      }
    }
  }
}
// skeleton
/* =========================
   SKELETON DETAIL PAGE
========================= */

.skeleton * {
  pointer-events: none;
}

.skeleton-bg {
  background: linear-gradient(
    90deg,
    #1a1a1a 25%,
    #2a2a2a 37%,
    #1a1a1a 63%
  );
  background-size: 400% 100%;
  animation: shimmer 1.4s infinite;
}

/* poster */
.skeleton-poster {
  width: 150px;
  height: 220px;
  border-radius: 12px;
  @extend .skeleton-bg;
}

/* text */
.skeleton-text {
  border-radius: 6px;
  margin-bottom: 10px;
  @extend .skeleton-bg;
}

.skeleton-text.title {
  width: 300px;
  height: 22px;
}

.skeleton-text.subtitle {
  width: 200px;
  height: 14px;
}

.skeleton-text.desc {
  width: 100%;
  height: 12px;
}

.skeleton-text.desc.short {
  width: 70%;
}

.skeleton-text.header {
  width: 180px;
  height: 16px;
}

/* tag */
.skeleton-tag {
  width: 70px;
  height: 22px;
  border-radius: 6px;
  @extend .skeleton-bg;
}

/* button */
.skeleton-btn {
  width: 140px;
  height: 36px;
  border-radius: 999px;
  margin: 15px 0;
  @extend .skeleton-bg;
}

/* server */
.skeleton-pill {
  width: 120px;
  height: 28px;
  border-radius: 6px;
  @extend .skeleton-bg;
}

/* episode */
.skeleton-episode {
  height: 40px;
  border-radius: 8px;
  @extend .skeleton-bg;
}

/* shimmer animation */
@keyframes shimmer {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}
/* ===============================
   RESPONSIVE
================================= */

@media (max-width: 768px) {

  .movie-page__info {
    padding: 15px;
  }

  .movie-page__info-layout {
    flex-direction: row;   /* giữ ngang luôn cho gọn */
    gap: 15px;
  }

  .movie-page__poster img {
    width: 100px;
    height: 150px;
  }

  .movie-page__name {
    font-size: 17px;
  }

  .movie-page__desc {
    -webkit-line-clamp: 2;
  }
}
 @media (max-width: 768px){
    .movie-page{
        padding-bottom: 50px!important;
    }
 }