.collapsed {
    width: 90%;
    margin: 0 auto; 
    background: #212121;
    color: #fff;
    border : 1px solid #fff;
}

.ant-collapse-header svg{
    color: #fff;
}
.ant-collapse-header-text{
    color: #fff;
}
.ant-collapse-content-box {
    background: #212121;
    color: #fff;
    border-radius: none;
}


.collapsed__header{
    padding-top: 20px;
    border-radius: 8px; 
}