.collapsed {
    width: 90%;
    margin: 0 auto; 
    background: #212121;
    color: #fff;
}
.ant-collapse-header svg{
    color: #fff;
}
.ant-collapse-header-text{
    color: #fff;
}
.ant-collapse-content-box {
    background: #212121;
    color: #fff;
}