.edit-song-form{
    background:  #212121;
    margin: 30px auto!important;
}
.ant-form-item-label > label {
  color: #fff !important;
}
.ant-card-head-title{
    color: #fff!important;
}
.ant-form-item-required{
    color: #fff!important;
}
.no-edit{
    color: #fff!important;
}