.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.app-wrapper {
  position: relative;
  min-height: 100vh;
  width: 100%;
}

.app-wrapper::before {
  content: "";
  position: fixed;
  inset: 0;

  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.88),
      rgba(0, 0, 0, 0.88)
    ),
    url("https://assets.nflxext.com/ffe/siteui/vlv3/e393bb3f-261f-43d1-99bb-16a157885615/web/VN-vi-20260105-TRIFECTA-perspective_ec5c484f-840e-4d19-9f35-b9e6a0eef2c7_medium.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  z-index: -1;
}

.app-content {
  position: relative;
  z-index: 1;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

*{
  box-sizing: border-box;
}

.custom-cursor {
  width: 20px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  transition: transform 0.12s ease-out; /* Giúp con trỏ di chuyển mượt hơn */
  mix-blend-mode: difference;
  z-index: 9999;
}

