 .music-box-title{
    text-align: center;
    padding: 10px;
    margin-top:20px;
    margin-bottom: 0;
    font-weight:700;
  }
  .music-box-desc{
    text-align: center;
    padding: 0;
    font-size: 13px;
    margin-top: 0;
  }
 .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
  
  }
  .card-music{
    height: auto;
    
  }

  .card {
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden; /* Cắt phần ảnh vượt ra ngoài */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
  }
  
  .card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
  
  .card-music {
    padding: 0 !important;
    // opacity:0;
    // transform: scale(0.6);
    // animation : ScaleIn linear both;
    // animation-timeline: view();
    // animation-range: entry 0% cover 40%;
  }

  @keyframes ScaleIn {
    0% {
      opacity: 0;
      transform: scale(0.6);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }


  .card-img-top {
    width: 100%;
    min-width: none;
    height:auto;
    object-fit: cover; /* Đảm bảo ảnh không bị méo, luôn phủ đầy không gian */
    transition: transform 0.3s ease-in-out; /* Thêm transition cho hiệu ứng zoom ảnh */
  }
  
  .card-img-top:hover {
    transform: scale(1.1);
  }
  
  .card-body {
    height: 135px;
    align-items: center;
    background-color: #fff;
  }
  
  .card-title {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #333;
  }
  
  .card-desc{
    font-size: 14px;
    text-align: center;
    color: #666;
    margin-bottom: 0;
  }
