.admin-nav{
    border-bottom: 1px solid #ddd;
    height: 60px;
    display: flex;
    align-items: center;
}
.nav-item{
    text-decoration: none;
    padding: 5px;
    color: #ddd;
    font-size: 14px;
    background: #dddddd24;
    border-radius: 5px;
    margin: 10px;
}
.form-add-song{
    background: #ddd;
}
.dashboard-visitor{
    background: #212121;
    color: #fff;
}
.dashboard-visitor th, .dashboard-visitor td{
    font-size: 13px;
    padding: 2px!important;
    text-align: left;
}

@media (max-width: 540px){
    .nav-item{
        font-size: 13px;
        padding: 6px;
        margin: 5px;
    }
}