.admin-nav{
    border-bottom: 1px solid #ddd;
}
.nav-item{
    text-decoration: none;
    padding: 10px;
    color: #ddd;
    background:#303030;
    border-right: 1px solid #ddd;
}
.form-add-song{
    background: #ddd;
}